<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Eskifebo</title>

    <!-- BootstrapCSS & FontAwesome & CSS -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />

    <!-- Bootstral JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <!-- Vue & Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
  </head>

  <body class="lg">
    <div id="app" v-cloak>
      <div v-if="loading">
        <div class="offset-md-4 col-md-4 mt-4 text-center">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div id="content" v-else>
        <div class="container">
          <div class="row">
            <div class="mt-4 offset-sm-4 col-sm-4 text-center justify-content-start vertical-center">
              <div class="form-inline justify-content-center">
                <input v-model="texteVille" class="form-control">
                <button v-on:click="recherche" type="submit" class="btn btn-warning ml-1 text-white mt-1" id="btnVille">Envoyer</button>  
              </div>
              <img v-bind:src="img" height="100" alt="" class="mt-2"/>
              <h1 class="ville">{{ location }}</h1>
              <p>
                <span class="temp">
                  <i class="fas fa-temperature-low"></i> {{ temp }}&deg;C</span>
                <br /><span class="desc">{{ desc }}</span> <br />
                <i class="fas fa-arrow-down"></i> {{ temp_low }}&deg;C
                <i class="fas fa-arrow-up"></i> {{ temp_high }}&deg;C
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <script src="getImage.js"></script>
    <script src="app.js"></script>
  </body>
</html>
